@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Plus Jakarta Display", sans-serif;
}

// Custom classes

.link {
  @apply hover:text-gray-900 hover:cursor-pointer;
}
